body { 
	padding: 0; 
	margin: 0;
} 

table {
	font: 14px arial;
	color: rgb(100, 100, 100);
	border: none;
	border-spacing: 10px;
}

#canvasDiv, #optDiv {
	margin: auto;
	text-align: center;
}

#canvasDiv {
	height: 800;
	width: 75%;
	margin-top: 20px;
}

#optDiv {
	height: 200px;
	width: 60%;
	margin-top: 10px;
	border: 1px dashed gray; /* à supprimer */
}

#leftOptions button {
	height: 30px;
	width: 70px;
	margin: 10px 10px 0 0;
	display: table-cell;
	vertical-align: middle;
}

#leftOptions, #rightOptions {
	display: table;
	border-spacing: 10px;
	height: 100%;
	padding: 10px 0 0 10px;
}

#tdColorPicker button {
	height: 30px;
	width: 70px;
}

#txtSPF {
	text-align: center;
	margin-bottom: 0px;
}

#defaultCanvas0 {
	border: 1px solid black;
}

.hidden {
	visibility: hidden;
}

.jscolor {
	display: inline;
	color: black;
	top: 0px;
}

.options {
	float: left;
}

