body { 
	padding: 0; 
	margin: 0;
} 

/********************** Canvas ********************/
#canvasDiv { 
	margin: 20px auto auto auto;
	width: 50%;
	/*display: inline;*/
}

#pathDiv {
	text-align: center;
}
#defaultCanvas0 {
	border: 1px solid black;
}